body {
    margin: 0;
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(135deg, #0f1115, #1a1f2e, #0f1115);
}

body::before, body::after {
    content: "";
    position: absolute;
    width: 300px;
    height: 300px;
    background: #4f8cff;
    filter: blur(120px);
    opacity: 0.2;
    border-radius: 50%;
}

body::before { top: 10%; left: 15%; }
body::after { bottom: 10%; right: 15%; background: #a855f7; }

.wrapper {
    width: 420px;

    background: rgba(255, 255, 255, 0.06);
    border: 1px solid rgba(255, 255, 255, 0.12);
    border-radius: 16px;

    backdrop-filter: blur(18px);
    -webkit-backdrop-filter: blur(18px);

    box-shadow: 0 8px 30px rgba(0,0,0,0.4);
    padding: 22px;
    color: #e6e6e6;
    z-index: 1;
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}


.folder {
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.08);
    margin-bottom: 12px;
    border-radius: 12px;
    overflow: hidden;
    transition: 0.3s;
}

.folder:hover {
    transform: translateY(-2px);
    border-color: rgba(255,255,255,0.2);
}

.folder-header {
    padding: 12px 14px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.folder-header:hover {
    background: rgba(255,255,255,0.06);
}


.folder-content {
    display: none;
    flex-direction: column;
    padding: 10px 14px;
    border-top: 1px solid rgba(255,255,255,0.08);
}

.file {
    padding: 10px;
    margin: 6px 0;

    background: rgba(255,255,255,0.06);
    border: 1px solid rgba(255,255,255,0.08);

    border-radius: 8px;
    cursor: pointer;
    text-decoration: none;
    color: #e6e6e6;

    transition: 0.2s;
}

.file:hover {
    background: rgba(255,255,255,0.12);
    transform: translateX(4px);
}

.arrow {
    transition: transform 0.3s;
}

.folder.open .arrow {
    transform: rotate(90deg);
}

.folder.open .folder-content {
    display: flex;
}